fastapi
uvicorn
python-dotenv
sqlalchemy
alembic
psycopg2-binary
asyncpg
pydantic
pydantic-settings
loguru
requests
httpx
python-multipart
passlib[bcrypt]
pyjwt
python-jose
Pillow
numpy
openai
typer
watchfiles
torch
torchvision
torchaudio
paddlepaddle
ultralytics
paddleocr
aioboto3
modelscope
qwen-vl-utils
