accelerate==1.12.0
aioboto3==15.5.0
aiobotocore==2.25.1
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aioitertools==0.13.0
aiosignal==1.4.0
aistudio-sdk==0.3.8
alembic==1.18.3
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.12.1
astor==0.8.1
async-timeout==4.0.3
asyncpg==0.31.0
attrdict==2.0.1
attrs==25.4.0
audioread==3.1.0
av==16.1.0
babel==2.18.0
bce-python-sdk==0.9.60
bcrypt==5.0.0
beautifulsoup4==4.14.3
blinker==1.9.0
boto3==1.40.61
botocore==1.40.61
cachetools==7.0.0
certifi==2026.1.4
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.1
colorlog==6.10.1
contourpy==1.3.2
crcmod==1.7
cryptography==46.0.4
cssselect==1.4.0
cssutils==2.11.1
cuda-bindings==12.9.4
cuda-pathfinder==1.3.3
cycler==0.12.1
Cython==3.2.4
dataclasses-json==0.6.7
decorator==5.2.1
diffusers==0.36.0
distro==1.9.0
ecdsa==0.19.1
editdistance==0.8.1
einops==0.8.2
et_xmlfile==2.0.0
exceptiongroup==1.3.1
fastapi==0.128.0
filelock==3.20.3
fire==0.7.1
Flask==3.1.2
flask-babel==4.0.0
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2026.1.0
ftfy==6.3.1
funasr==1.3.1
future==1.0.0

GPUtil==1.4.0
greenlet==3.3.1
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==1.3.5
hydra-core==1.3.2
idna==3.11
ImageIO==2.37.2
imagesize==1.4.1
imgaug==0.4.0
itsdangerous==2.2.0
jaconv==0.4.1
jamo==0.4.1
jieba==0.42.1
Jinja2==3.1.6
jiter==0.12.0
jmespath==0.10.0
joblib==1.5.3
jsonpatch==1.33
jsonpointer==3.0.0
kaldiio==2.18.1
kiwisolver==1.4.9
langchain>=0.3.27
langchain-classic==1.0.1
langchain-community>=0.2.4
langchain-core>=0.2.43
langchain-openai==1.1.7
langchain-text-splitters>=0.3.9
langgraph==1.0.7
langgraph-checkpoint==4.0.0
passlib==1.7.4
python-jose[cryptography]==3.5.0
